@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/neat.scss";

@import "variables";
@import "mixins";
@import "grid";

@import "./common/text";

body {

  font-family: $font-family-default;
  background-color: $background-default;

}

.donkey-code {
  width: 100%;
  height: auto;
}
